:root {
  --main-text-color: #757575;
  --main-title-color: #212121;
  --secondary-elements-color: #2196f3;
  --dark-background-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.button {
  border: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-elements-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--secondary-elements-color);
}

.contacts-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contacts-link {
  color: var(--main-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--secondary-elements-color);
}

.hero {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: var(--dark-background-color);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  position: absolute;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  background: var(--secondary-elements-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

.section-feature {
  background: #f5f5f5;
  text-align: center;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.feature-paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.feature-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.section-team {
  background: #f5f4fa;
  text-align: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.footer {
  background-color: var(--dark-background-color);
}

.address-link {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-link:hover,
.ddress-link:active {
  color: var(--secondary-elements-color);
}

.portfolio-buttons {
  width: 112px;
  height: 38px;
  left: 726px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  font-style: inherit;
  font-size: 16px;
  line-height: 1.62;
}

.portfolio-buttons:hover,
.portfolio-buttons:focus {
  background-color: var(--secondary-elements-color);
  color: #ffffff;
}

.portfolio-section {
  background: #ffffff;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
