:root {
  --main-text-color: #757575;
  --main-title-color: #212121;
  --secondary-elements-color: #2196f3;
  --dark-background-color: #2f303a;
  --header-background-color: #ffffff;
  --dark-text-color: #000000;
  --header-line-color: #ececec;
  --portfolio-buttons-color: #f5f4fa;
  --img-border-color: #eeeeee;
  --active-main-color: #188ce8;
  --feature-background-color: #f5f5f5;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--header-background-color);
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.button {
  border: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--secondary-elements-color);
}

.header-logo {
  color: var(--dark-text-color);
}

.footer-logo {
  color: var(--header-background-color);
}

.nav-link {
  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--secondary-elements-color);
}

.current {
  color: var(--secondary-elements-color);
}

.contacts-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contacts-link {
  color: var(--main-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--secondary-elements-color);
}

.hero {
  /*width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;*/
  background: var(--dark-background-color);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-background-color);
}

.hero-button {
  background: var(--secondary-elements-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 30px;
  color: var(--header-background-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--active-main-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.feature-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.feature-paragraph {
  line-height: 1.71;
}

.what_we_do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-title-color);
}

.section-team {
  background: var(--portfolio-buttons-color);
  text-align: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-title-color);
}

.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-title-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.18;
}

.footer {
  background-color: var(--dark-background-color);
}

.address-link {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: var(--header-background-color);
}

.address-link:hover,
.ddress-link:active {
  color: var(--secondary-elements-color);
}

.portfolio-buttons {
  background: var(--portfolio-buttons-color);
  color: var(--main-title-color);
  border-radius: 4px;
  font-style: inherit;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  cursor: pointer;
}

.portfolio-buttons:hover,
.portfolio-buttons:focus {
  background-color: var(--secondary-elements-color);
  color: var(--header-background-color);
}

.portfolio-section {
  background: var(--header-background-color);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
}
